.buttonText {
  font: var(--button);
  text-transform: uppercase;
  padding: 0.5em 2rem;
  border-radius: 4.3rem;
  border: none;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.buttonText:active {
  transform: scale(0.95);
}

.buttonText.is-primary {
  background: var(--primaryColor);
  color: var(--whiteColor);
}
