.nowPlaying {
  display: flex;
  gap: 0.5rem;
}

.nowPlaying-cover img {
  inline-size: 3.5rem;
  block-size: 3.5rem;
  vertical-align: bottom;
}

.nowPlaying-details {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nowPlaying-title {
  color: var(--whiteColor);
  font: var(--baseFontBold);
  text-decoration: none;
  display: block;
}

.nowPlaying-artist {
  color: var(--small);
  font: var(--gray10Color);
  text-decoration: none;
}
